schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="Bibliography"> 
        <complexType> 
            <sequence> 
                <element name="Item" maxOccurs="unbounded"> 
                    <complexType> 
                        <sequence> 
                            <element name="dc.Identifier" type="string"/>
                            <element name="dc.Date" type="string"/>
                            <element name="dc.Description" type="string"/>
                            <element name="dc.Creator" type="string"/>        
                            <element name="dc.Contributor.Editor" type="string"/>
                            <element name="dc.Contributor.Translator" type="string" />
                            <element name="dc.Title" type="string"/>
                            <element name="dc.Relation.IsPartOf" type="string"/> 
                            <element name="dcTerms.BibliographicCitation" type="string"/>
                            <element name="dc.Publisher" type="string"/>
                            <element name="dc.Type" type="string"/>                       
                        </sequence> 
                    </complexType> 
                </element> 
            </sequence>
        </complexType>
    </element> 
</schema>
